<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>338778095184-2td6heqbcihdc8pngkkhvhilse3br96t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.338778095184-2td6heqbcihdc8pngkkhvhilse3br96t</string>
	<key>API_KEY</key>
	<string>AIzaSyDWbgpy92z5USXM5p8Y8JuDhZmlAL7n5jk</string>
	<key>GCM_SENDER_ID</key>
	<string>338778095184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shinleeholdings.coverstar</string>
	<key>PROJECT_ID</key>
	<string>coverstar-168de</string>
	<key>STORAGE_BUCKET</key>
	<string>coverstar-168de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:338778095184:ios:d93c651dda4cff327bdb55</string>
</dict>
</plist>